Базовых типов не очень много:

• None;
• логические: True, False;
• числовые int, float, complex;
• строковые bytes, str;
• изменяемые коллекции: list, set, dict;
• неизменяемые коллекции tuple, str;


• Чаще всего над объектами из одной группы можно совершить конкретное действие одним очевидным способом:
>>> 1 + 1
>>> 1. + 1.
>>> 1j + 1j

>>> "p" + "y"
>>> b"p" + b"y" 

>>> 42 in {42}
>>> 42 in [42]
>>> 42 in {42: "..."}

# VARIABLES

In [1]:
x = 5 
y = 'John'
x, y

(5, 'John')

In [2]:
x = y
x, y

('John', 'John')

In [3]:
type(x)

str

## Variable naming

In [2]:
v1 = 1
w1-w2 = "John"
v_2 = 2
3_v = 4
_3_y = 5
_ = 6
v var = "John"

In [3]:
a_very_long_but_clear_variable_name = 0

In [ ]:
BOILING_POINT_OF_WATER = 100

## VARIABLE COMPARISON

In [6]:
a = 1
b = 1
print(a == b)
print(a is b)

True
True

In [11]:
a = ['a', 'b', 'c']
b = ['a', 'b', 'c']
c = a
print(a == b)
print(a is b)
print(a is c)

True
False
True

In [12]:
c[0] = 1
a

[1, 'b', 'c']

In [13]:
c

[1, 'b', 'c']

In [8]:
id(a), id(b)

(2260824601856, 2260824602368)

In [10]:
a = None
b = None
a is b

True

In [1]:
!python ./hello.py

message = hello

In [2]:
!python -m dis ./hello.py

  1           0 LOAD_CONST               0 ('hello')
              2 STORE_NAME               0 (message)

  3           4 LOAD_NAME                1 (print)
              6 LOAD_CONST               1 ('message =')
              8 LOAD_NAME                0 (message)
             10 CALL_FUNCTION            2
             12 POP_TOP
             14 LOAD_CONST               2 (None)
             16 RETURN_VALUE

# Intro

In [ ]:
import hello

In [ ]:
hello

In [ ]:
dir(hello)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'greet_func',
 'greet_str']

In [ ]:
print(hello.__name__)
print()
print(hello.__file__)
print()
print(hello.greet_str)
print()
print(hello.greet_func)

hello

c:\Users\Андрей\Desktop\Мирофанова\Python\hello.py

hello

<function greet_func at 0x0000013AC2A4F6D0>

In [ ]:
import hello
print(type(hello))

print(type(type(hello)))
print(type(type(type(hello))))

# None

In [ ]:
a = None
type(a)

In [ ]:
print(a == None) # <-- Так не надо (сравнение по значению)

print(a is None) # <-- Лучше так (сравнение по ссылке)

In [ ]:
print(id(a))
print(id(None))

In [5]:
l1 = ['a', 'b']
l2 = ['a', 'b']
print(l1 == l2)
print(l1 is l2)
print(id(l1))
print(id(l2))

True
False
2014913763200
2014914981824

# Numbers

## INT

In [16]:
1 + 1

2

In [17]:
5 - 3

2

In [18]:
5 * 4

20

## FLOAT

In [22]:
1.00000000000000000000000000000000000001 == 1

True

In [24]:
2.4e4

24000.0

In [25]:
print(6 / 3)
print(type(6/3))

2.0
<class 'float'>

In [27]:
1.1 + 2.2

3.3000000000000003

## COMPLEX

In [ ]:
x = +1+1j
y = -1+1j
print(x, type(x))
print(x+y)
print(x-y)

## TYPE CONVERSION

In [31]:
x = 1
y = 2.9999
z = 3-4j
u = '10'
v = 100

In [34]:
a = float(x)
b = int(y)
c = complex(x)
# d = int(z) # CAN NOT

e = int(u)
f = str(v)

print(a)
print(b)
print(c)
print(e)
print(f, type(f))

1.0
2
(1+0j)
10
100 <class 'str'>

## Math Operators

In [35]:
2 + 2
3 - 1
3 * 5
12 / 4
print(2 ** 5)

32

In [38]:
15 % 5

0

In [40]:
12 // 5

2

# Assign operators

In [45]:
x = 5

In [44]:
x = x + 1
x

6

In [46]:
x += 1
x

6

In [47]:
x -= 2
x

4

In [48]:
x *= 7
x

28

In [49]:
x /= 14
x

2.0

In [52]:
21 / 4

5.25

In [53]:
21 % 4

1

In [54]:
21 // 4

5

In [51]:
x = 17

In [50]:
x %= 10
x

2.0

In [57]:
x = 9

In [59]:
5 ** 3

125

In [58]:
x **= 2
x

81

# STR

In [83]:
s1 = 'a'
s2 = "a"
# s3 = 'It's a nice day today'
s3 = "It's a nice day today"
s4 = '''
a	b
c	d
'''

In [84]:
s4

'\na\tb\nc\td\n'

In [88]:
table = []
for line in s4.strip().split('\n'):
    table.append(line.split('\t'))

In [90]:
table

[['a', 'b'], ['c', 'd']]

In [76]:
print("\\")

\

In [81]:
print('''')

SyntaxError: incomplete input (878951140.py, line 1)

In [ ]:
# '\'
'\\'
'\''
'\n'
'\t'
'\b'

## Strings are sequences of characters

In [103]:

# print(a[1])
# print(a[-1])
print(a[-1])

!

In [110]:
len(a)

13

In [112]:
a = "Hello, World!"
'ello' in a

True

## Slices

In [113]:
a = 'Hello, World!'
for i in range(len(a)):
    print(i, a[i])

0 H
1 e
2 l
3 l
4 o
5 ,
6
7 W
8 o
9 r
10 l
11 d
12 !

In [119]:
len(a)

13

In [126]:
# print(a[2:5])
# print(a[0:5])
# print(a[:5])
# print(a[2:12])
a = 'Hello, World!'
print(a[0:len(a)])

Hello, World!

In [127]:
a.lower()

'hello, world!'

In [130]:
a = 'aaaaa aaa'
a.capitalize()

'Aaaaa aaa'

In [150]:
a = 'aAa'
a.isalpha()

True

In [151]:
a.isupper()

False

In [156]:
a = '=  ====Heyyyy!-----==='
a.strip('=')

'  ====Heyyyy!-----'

In [157]:
a = '\t    Heyyyy!     \n\t'
a.strip()

'Heyyyy!'

In [158]:
a = 'ping-pong'
a.replace('p', 'd')

'ding-dong'

In [171]:
a = 'ping-pong-ding-'
b = a.split('in')
type(b), b

(list, ['p', 'g-pong-d', 'g-'])

In [167]:
a = 'afdg bdfgdfg           dfgfdg'
a.split(' ')

['afdg', 'bdfgdfg', '', '', '', '', '', '', '', '', '', '', 'dfgfdg']

In [172]:
a = 'a'
b = 'b'
c = a + b
print(c)

ab

## Format strings

In [181]:
age = 75
text = "My name is John and I'm " + str(age) + " years old"
print(text)

My name is John and I'm 75 years old

In [190]:
print(f"My name is John and I'm {age} years old. I have {', '.join(['a dog', 'a cat', 'sjkgnji'])}.")

My name is John and I'm 75 years old. I have a dog, a cat, sjkgnji.

In [194]:
price = 59.523
txt = f"The price is {price:.10f} dollars"
print(txt)

The price is 59.5230000000 dollars

In [195]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

In [197]:
"The price is {0} dollars".format(20, 10, 14)

'The price is 20 dollars'

In [198]:
txt = "The {0:10} price is {1:5} dollars and {2:20.4f} cents".format('bread', 20, 40)
print(txt)

The bread      price is    20 dollars and              40.0000 cents

In [199]:
txt = 'value i want to see'
print(f'This is {txt=} here.')

This is txt='value i want to see' here.

In [32]:
for x in range(10):
    print(f'Current value of {x=}')

Current value of x=0
Current value of x=1
Current value of x=2
Current value of x=3
Current value of x=4
Current value of x=5
Current value of x=6
Current value of x=7
Current value of x=8
Current value of x=9

# Bool

In [200]:
1 > 0
1 == 1

True

In [201]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## Are True

In [204]:
print(bool("Hello"))
print(bool(15))
print(bool(0))
print(bool(-10.0))
print(bool(['a', 'b']))

True
True
False
True
True

## Are False

In [205]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [208]:
a = False
id(False), id(a)

(140717549144968, 140717549144968)

In [206]:
print(True == True)
print(True is True)
print(0>1 == 0>1)
print(0>1 is 0>1)

True
True
False
False

<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Андрей\AppData\Local\Temp\ipykernel_17260\128964624.py:4: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print(0>1 is 0>1)

## Tricks

In [209]:
43 + True

44

In [210]:
1 + 2**2 * 18 <= 5 == True # Так не надо

False

In [211]:
# Лучше
expression = 1 + 2**2 * 18 <= 5
expression is True

False

In [219]:
bool(0)

False

In [220]:
print(False or 0)

0

In [216]:
True + True - False

2

# LIST

In [221]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [222]:
print(len(thislist))

3

In [226]:
list1 = ["abc", 34, True, 40, "male", [1, 2]]
list1

['abc', 34, True, 40, 'male', [1, 2]]

In [224]:
print(type(list1))

<class 'list'>

In [232]:
thislist = list(("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"))
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [230]:
print(thislist[1])
print(thislist[-1])
print(thislist[2:5])
print(thislist[:4])
print(thislist[2:])
print(thislist[-4:-1])

e
d
['l', 'l', 'o']
['h', 'e', 'l', 'l']
['l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']
['o', 'r', 'l']

In [233]:
'Orange' in thislist

False

In [234]:

thislist[1] = "aubergine"
print(thislist)

['apple', 'aubergine', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [235]:
thislist = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
thislist[2:4] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'banana', 'blackcurrant', 'watermelon', 'kiwi', 'melon', 'mango']

In [10]:
thislist = ['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']
thislist[1:3] = ["watermelon"]
print(thislist)

['apple', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [11]:
thislist.insert(2, "chocolate")
print(thislist)

['apple', 'watermelon', 'chocolate', 'orange', 'kiwi', 'melon', 'mango']

In [12]:
thislist.append("potato")
print(thislist)

['apple', 'watermelon', 'chocolate', 'orange', 'kiwi', 'melon', 'mango', 'potato']

In [13]:
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'watermelon', 'chocolate', 'orange', 'kiwi', 'melon', 'mango', 'potato', 'mango', 'pineapple', 'papaya']

In [15]:
# thislist.remove("apple")
thislist.remove("desk")
print(thislist)

ValueError: list.remove(x): x not in list

In [ ]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [20]:
thislist = ["apple", "banana", "cherry"]
# a = thislist.pop(1)
b = thislist.pop(0)
print(thislist, b)

['banana', 'cherry'] apple

In [21]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [22]:
a = 'greg'
del a

In [23]:
del thislist
print(thislist)

NameError: name 'thislist' is not defined

In [24]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [25]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [26]:
[1, 2, 3] * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## Loop

In [27]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [28]:
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
  print(i, thislist[i])

0 apple
1 banana
2 cherry

In [30]:
thislist = ["apple", "banana", "cherry"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i += 1

apple
banana
cherry

## List Comprehensions

In [35]:
thislist = [1, 2, 3, 4]
thislist = [x * 2 for x in thislist] 
print(thislist)

[2, 6]

In [39]:
thislist = [1, 2, 3, 4]
temp = []
for x in thislist:
    temp.append(x)
thislist = temp
print(thislist)

[1, 2, 3, 4]

In [38]:
# thislist = [x * 2 for x in thislist] 

fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [40]:
fruits = [x for x in fruits if 'a' in x]

In [50]:
temp = []
for x in range(10):
    temp.append('hello')
temp

['hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello']

In [51]:
# print([x for x in range(10)])
# print([x for x in 'абвгдеёж'])
print(['hello' for x in range(10)])

['hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello', 'hello']

In [ ]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x == "banana" else "orange" for x in fruits]
print(newlist)

In [ ]:
thislist = ['c', 'b', 'd', 'a']
thislist.sort() # changes list
print(thislist)
print(thislist.sort())

In [ ]:
thislist = ['c', 'b', 'd', 'a']
print(sorted(thislist))
print(thislist)

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

In [ ]:
print(sorted(thislist, reverse=True))

In [ ]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

In [ ]:
a = [1, 2, 3, 4]
b = a
b[1] = 'hello'
print(a)
print(b)

In [ ]:
a = [1, 2, 3, 4]
# b = a.copy()
# b = a[:] 
# b = list(a)
b[1] = 'hello'
print(a)

In [ ]:
a = [1, 2, 3]
b = [6, 7, 8]
c = a + b
print(c)
print(c * 3)

# TUPLE

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

In [ ]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

In [52]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [53]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# SET

In [54]:
thisset = {"apple", "banana", "apple"}
print(thisset)

{'banana', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
thisset.remove("watermelon")
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.discard("watermelon")
print(thisset)

In [ ]:
thisset.clear()
print(thisset)

In [ ]:
thisset = {"apple", "banana", "cherry"}
del thisset
print(thisset)

In [ ]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

In [ ]:
myset = set1 | set2 | set3 |set4
print(myset)

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

# DICT

In [56]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [57]:
print(thisdict["brand"])

Ford

In [58]:
'brand' in thisdict

True

In [60]:
print(thisdict["country"])

KeyError: 'country'

In [61]:
print(thisdict.get("country"))

None

In [62]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [63]:
thisdict = {
  "brand": "Ford",
  "electric": False,
  "year": 1964,
  "colors": ["red", "white", "blue"]
}

In [64]:
thisdict = {
  "electric": False,
  "year": 1964,
  ["color", "brand", ]: ['red', 'Ford']
}
print(thisdict[["color", "brand"]])

TypeError: unhashable type: 'list'

In [65]:
thisdict = {
  "electric": False,
  "year": 1964,
  ("color", "brand"): ['red', 'Ford']
}
print(thisdict[("color", "brand")])

['red', 'Ford']

In [66]:
thisdict = dict(name = "John", age = 36, country = "Norway")
print(thisdict)

{'name': 'John', 'age': 36, 'country': 'Norway'}

In [67]:
thisdict.keys()

dict_keys(['name', 'age', 'country'])

In [69]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) #before the change
print(car)

car["color"] = "white"

print('='*10)
print(x) #after the change
print(car)

dict_keys(['brand', 'model', 'year'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
==========
dict_keys(['brand', 'model', 'year', 'color'])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [70]:
car.values()

dict_values(['Ford', 'Mustang', 1964, 'white'])

In [20]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.values()

print(x) #before the change
print(car)

car["year"] = 2020

print('='*10)
print(x) #after the change
print(car)

dict_values(['Ford', 'Mustang', 1964])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
==========
dict_values(['Ford', 'Mustang', 2020])
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [71]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [22]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.items()

print(x) #before the change
print(car)

car["year"] = 2020

print('='*10)
print(x) #after the change
print(car)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
==========
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])
{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [72]:
for x in car:
    print(x)

brand
model
year
color

In [73]:
for x in car.keys():
    print(x)

brand
model
year
color

In [74]:
for x in car.values():
    print(x)

Ford
Mustang
1964
white

In [75]:
for x in car.items():
    print(x)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)
('color', 'white')

In [77]:
car

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

In [76]:
car.items()

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])

In [80]:
for k, v in car.items():
	# print('k=', k, '\t', 'v=', v)
    print(f'{k=}\t{v=}')

k= brand 	 v= Ford
k= model 	 v= Mustang
k= year 	 v= 1964
k= color 	 v= white

# FUNCTIONS

In [9]:
def say_hi_to(name):
    # print('Thinking...')
    return f'Hi, {name}!'

In [10]:
def foo():
    return 'hello'

In [16]:
def say_hi_to_many(names):
    for name in names:
        print(say_hi_to(name))
    return 'I said hello to everyone!'

In [17]:
say_hi_to_many(['Victor', 'Sveta', 'Ivan'])

Hi, Victor!
Hi, Sveta!
Hi, Ivan!

'I said hello to everyone!'

In [18]:
print(say_hi_to_many(['Victor', 'Sveta', 'Ivan']))

Hi, Victor!
Hi, Sveta!
Hi, Ivan!
I said hello to everyone!

# CLASSES